.inner {
    background-color: #ffffff;
    border-radius:10px;
    padding:10px;
    margin:10px;
    box-shadow: 4px 4px 5px #888888;
    border:solid;
    border-width:1px;
    border-color: #CCCCCC;
   

}
